<section class="form-section">
    <div class="text">
        <h3>
            Fique por dentro das tendencias
        </h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe repellendus repellat officia maxime, 
            neque perferendis velit! Odit nulla, quod suscipit nesciunt voluptate, libero, tempore nisi accusamus 
            quidem cupiditate nihil saepe.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe repellendus repellat officia maxime, 
            neque perferendis velit! Odit nulla, quod suscipit nesciunt voluptate, libero, tempore nisi accusamus 
            quidem cupiditate nihil saepe.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe repellendus repellat officia maxime, 
            neque perferendis velit! Odit nulla, quod suscipit nesciunt voluptate, libero, tempore nisi accusamus 
            quidem cupiditate nihil saepe.
        </p>
    </div>
    <form [formGroup]="newsForm">
        <label for="name">Nome</label>
        <input id="name" formControlName="name"/>
        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <app-btn-primary 
            btn-text="inscreva-se" 
            variant="secondary"
            (submit)="onSubmit()"
            [disabled]="!newsForm.valid"
            [loading]="loading()"
        >
        </app-btn-primary>
        <app-alert-component [isVisible]="alertVisible" [message]="alertMessage"></app-alert-component>
    </form>
</section>