<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headeline">
            <span>I dont know</span>
            <h1>CC about anywhere, anybody and anyone can understad.</h1>
        </div>
        <img ngSrc="./assets/principal.png" width="669" height="536" priotity>
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                95% das<br>
                empresas
            </h2>
        </div>
        <p>enfrantema problemas ao migrar seus <b>dados para bancos</b> de dados mais <b>fléxiveis</b></p>
    </section>
    <section class="cta-section">
        <app-btn-primary btn-text="fale com alguém"></app-btn-primary>
    </section>
    <app-news-form></app-news-form>

</main>